@media (max-width: 1200px) {
  body .navbar-main {
    justify-content: center;
    margin-right: 50px;
    display: flex;
    flex: 1;
  }

  body ul#links > li {
    margin-left: 15px;
    margin-right: 15px;
  }

  body ul#links > li > a {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    font-family: assistant;
    letter-spacing: 1px;
  }

  body p#about-info {
    font-family: assistant;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 90px;
    color: #6c6d6f;
  }

  body .rate-info {
    font-family: "assistant", san-serif;
    font-size: 30px;
    color: #6c6d6f;
    text-align: center;
  }

  body .review-text {
    font-family: "assistant", san-serif;
    font-size: 30px;
    color: #6c6d6f;
    text-align: center;
  }
}

@media (max-width: 900px) {
  body .rate-info {
    font-family: "assistant", san-serif;
    font-size: 30px;
    color: #6c6d6f;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  body .review-text {
    font-family: "assistant", san-serif;
    font-size: 25px;
    color: #6c6d6f;
    text-align: center;
  }
}

@media (min-width: 762px) {
  .hamburger {
    display: none;
  }

  .hamburger-menu-container {
    display: none;
  }
}

@media (max-width: 761px) {
  .navbar {
    display: none !important;
  }

  .modal-bg.hidden {
    display: none;
  }

  .modal-bg.grey {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.7;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .hamburger-menu-close {
    margin-bottom: 50px;
    align-self: flex-end;
    display: flex;
    height: 25px;
    width: 25px;
  }

  .hamburger-menu.closed {
    position: fixed;
    z-index: 0;
    opacity: 0;
  }

  .hamburger-menu.open {
    opacity: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%;
    position: fixed;
    z-index: 200;
    top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    transition: opacity 1s ease 0s;
  }

  .menu-items-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    margin-right: 40px;
    display: flex;
  }

  .menu-item > a {
    display: flex;
    margin-top: 40px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    font-family: assistant;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
  }

  .hamburger {
    background-color: transparent;
    display: flex;
    padding-left: 10%;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
  }

  .hamburger-icon-container.hidden {
    display: none;
  }

  .hamburger-icon {
    height: 70px;
    width: 70px;
  }

  .scrolled {
    background-color: rgba(171, 167, 153, 0.8);
    transition: background-color 1s ease 0s;
  }

  .directions {
    height: 750px !important;
  }

  .rates {
    height: 800px !important;
  }
}

@media (max-width: 600px) {
  body p#about-info {
    font-family: assistant;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    color: #6c6d6f;
  }

  body .rate-info {
    font-family: "assistant", san-serif;
    font-size: 20px;
    color: #6c6d6f;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 195px;
  width: 100%;
  border: none;
  color: transparent;
  z-index: 100;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-main {
  justify-content: flex-end;
  margin-right: 100px;
  display: flex;
  flex: 1;
}

.navbar-main ul {
  display: flex;
  flex: 0.2;
  justify-content: space-between;
}

ul#links > li {
  margin: 5px;
}

ul#links > li > a {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-family: assistant;
  letter-spacing: 1px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand :hover {
  color: rgb(220, 230, 230);
  border: 1px solid rgb(220, 230, 230);
}

.navbar-default .navbar-nav > li > a {
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border: 1px solid transparent;
}

.solid.navbar-default .navbar-nav > li > a:hover,
.solid.navbar-default .navbar-nav > li > a:active,
.solid.navbar-default .navbar-nav > li > a:focus {
  padding: 5px 5px 5px 5px;
  border: 1px solid white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: rgb(220, 230, 230);
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #490d40;
}
.navbar-default .navbar-toggle .icon-bar {
  color: rgb(220, 230, 230);
  background-color: rgb(220, 230, 230);
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: rgb(220, 230, 230);
}

/* Solid class attached on scroll past first section */

.solid {
  background-color: rgba(171, 167, 153, 0.8);
  transition: background-color 1s ease 0s;
}

.solid .container .navbar-main ul li a {
  color: white;
  font-size: 18px !important;
  transition: font-size 1s ease 0s, color 1s ease 0s;
}

.about {
  background-color: white;
  color: #000;
  /* //height: 600px; */
  text-align: center;
}

.about p {
  padding: 20px 60px;
}

div#hero {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
}

div#logo {
  width: 400px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#title {
  font-family: "Satisfy";
  margin-top: 0px;
  font-size: 40px;
  color: rgb(31, 29, 29);
}

hr {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background-color: rgb(31, 29, 29);
  opacity: 0.5;
  height: 1px;
}

p#about-info {
  font-family: assistant;
  font-size: 30px;
  margin-left: 90px;
  margin-right: 80px;
  padding-bottom: 90px;
  color: #6c6d6f;
}

.rates {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 247, 244);
  margin-left: 40px;
  margin-right: 40px;
  height: 500px;
  margin-bottom: 60px;
}

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 247, 244);
  margin-left: 40px;
  margin-right: 40px;
  height: 500px;
  margin-bottom: 60px;
}

.rate-info {
  font-family: "assistant", san-serif;
  font-size: 35px;
  color: #6c6d6f;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.squares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 40px;
  grid-template-areas: "wave woman turtle";
}

.grid-pics-wave {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/pv.jpg) no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.grid-pics-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/beetle.jpg) no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.grid-pics-turtle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bigTurtleEdited.jpg) no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  opacity: 0.9;
  background-color: rgb(9, 87, 63);
}

.squares > div:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(206, 201, 201, 0.3);
}

.squares > div > p {
  font-size: 35px;
  font-family: Muli, sans-serif;
  letter-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.review-text {
  font-family: "assistant", san-serif;
  font-size: 35px;
  color: #6c6d6f;
  text-align: center;
}

div#review-tiny-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tiny-text {
  font-family: "assistant", san-serif;
  font-size: 18px;
  margin-top: -10px;
  color: #6c6d6f;
  text-align: center;
}

div#footer {
  background-color: rgb(50, 50, 53);
}

div#footer-grid {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-areas: "about contact copyright";
}

div#footer-first-div {
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  grid-area: about;
}

div#footer-second-div {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  grid-area: contact;
}

.footer-title {
  display: flex;
}

.footer-text {
  color: white;
  font-family: Assistant;
  font-size: 24px;
}

.footer-tiny-text {
  display: flex;
  flex: 1;
  color: white;
  font-family: Assistant;
  font-size: 19px;
}

.whatsapp {
  margin-right: 10px;
}

.whatsapp-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-tiny-text > a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.copyright {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  color: white;
  opacity: 0.5;
  grid-area: copyright;
}

@media (max-width: 1198px) {
  .squares {
    margin: 0 !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-row-gap: 15px;
    padding: 15px;
    grid-template-areas:
      "wave"
      "woman"
      "turtle";
  }
}

@media (max-width: 761px) {
  body div#footer {
    height: 100% !important;
  }

  body div#footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "about"
      "contact"
      "copyright";
  }

  div#footer-first-div {
    margin: 20px 40px 0 40px !important;
  }

  div#footer-second-div {
    margin: 40px 20px 0 20px !important;
  }

  .copyright {
    padding: 20px;
    height: 50px;
    margin: 0;
  }

  .copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 1198px) {
  body div#footer {
    background-color: rgb(50, 50, 53);
    height: auto;
  }

  body div#footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    height: auto;
    grid-template-areas:
      "about about about"
      "contact contact contact"
      "copyright copyright copyright";
  }

  body div#footer-first-div {
    margin-top: 40px;
    margin-left: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    grid-area: about;
  }

  body div#footer-second-div {
    margin-left: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    grid-area: contact;
  }

  body .footer-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  body .footer-text {
    color: white;
    font-family: Assistant;
    align-self: center;
  }

  body .footer-tiny-text {
    display: flex;
    flex: 1;
    color: white;
    font-family: Assistant;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  body .copyright {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 0px;
    font-size: 12px;
    color: white;
    opacity: 0.5;
    grid-area: copyright;
  }
}
